<!DOCTYPE html>
<html>
<head>
    <title>loopback-books</title>
</head>
<body>
<h1>loopback-books</h1>
<p>
    <a href="/explorer">API Explorer</a>
</p>
<h2>API</h2>
<ul>
    <li><a href="api/Books/5/bookDetail">/api/Books/5/bookDetail</a></li>
</ul>
</body>
</html>
